.bg-color-base {
  background: #dddddd;
}

.card-pop-out {
  background: #F0F0F3;
  box-shadow: -10px -10px 30px #FFFFFF, 10px 10px 30px rgba(174, 174, 192, 0.4);
  border-radius: 8px;
}

.card-pop-in {
  background: #F0F0F3;
  box-shadow: inset -4px -4px 9px rgba(255, 255, 255, 0.6), inset 4px 4px 14px #C5D7EE;
  border-radius: 8px;
}

.button-pop-out {
  background: #F0F0F3;
  box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px #FFFFFF, 4px 4px 20px rgba(111, 140, 176, 0.41);
  border-radius: 8px;
}

.button-pop-out-2 {
  background: #F0F0F3;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.4), 5px 5px 10px rgba(174, 174, 192, 0.2), inset -2px -2px 4px rgba(0, 0, 0, 0.1), inset 2px 2px 4px #ffffff;
  border-radius: 10px;
}


.button-pop-in {
  background: #F0F0F3;
  box-shadow: inset 5px 5px 4px rgba(174, 174, 192, 0.2), inset -5px -5px 4px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;